form.search {
  overflow: auto;
  float: right;
  font-size: large;
  width: 50%;
}


input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 10;
  width: 400px;
    padding: 0 20px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 0px;
}
